*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}
.toastMessage{
    position: fixed;
    top: 10%;
    right: 10%;
    padding: .4rem 1rem;
    border: 2px solid rgb(132, 197, 204);
    border-radius: 5px;
    background-color: rgb(61, 239, 61);
    cursor: default;
}
.toastMessage-slide-in{
    animation: toastMessage-animation-in 0.5s ease;
}
@keyframes toastMessage-animation-in{
    from{
        transform: translateX(300px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}
.toastMessage-slide-out{
    animation: toastMessage-animation-out 0.5s ease;
}
@keyframes toastMessage-animation-out{
    from{
        transform: translateX(0);
        opacity: 1;
    }
    to{
        transform: translateX(300px);
        opacity: 0;
    }
}
.container {
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  
}

h1 {
    font-size: 28px;
    color: #333;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    margin: 1rem;
}
.container2{
    width: 90%;
    height: 150px;
    margin:  auto;
    border: 2px solid black;
    display: block ;
    border-radius: 5px;
}



.inputbtn{
    width: 90%;
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 1rem auto;
}
.inputRGB, .inputHex{
    text-align: start;
}
.clrBtnIptRGB, .clrBtnIptHex{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.colorCodeShaw,
.colorCodeShaw{
    width: 55%;
    margin: .5rem 0;
    padding: 0.5rem 1rem;
    padding-left: 2rem;
    border-radius: 5px;
    border: 1px solid gray;
    outline: none;
}
.copyButton{
    width: 40%;
    padding: 0.5rem ;
    font-size: 15px;
    color: white;
    background-color: #007BFF;
    padding: none !important;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

#changeButton{
    width: 90%;
    padding: 0.5rem ;
    font-size: 15px;
    color: white;
    background-color: #007BFF;
    padding: none !important;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.copyButton:hover, #changeButton:hover{
    background-color: #0f59a7;;
}
.defaultHash {
    position: absolute;
    top: 15%;
    left: 0%;
    color: gray;
    border-right: 1px solid gray;
    padding: .5rem;
}