
*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #dddeee;

}

/* main container  */
.container{
    width: 600px;
    margin: 5rem auto;
    padding: 3rem;
    background-color: #fffffd;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.1);
}
/* container upper part : here display title & color show container  */
.displayTitle{
    padding-bottom: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dddeee;
}
.displayTitle button, .colorChangeTitle button{
    color: #900C3F;
    cursor: pointer;
    padding: 0.3rem 0.5rem;
}

.displayColor{
    width: 100%;
    min-height: 8rem;
    margin: .8rem 0;
    background-color: #dddeee;
}

/* container lower part : here all of color functionalities */
.changeAndCopy{
    width: 100%;
    margin-top: 2rem;
}
.colorChangeTitle{
    padding-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dddeee;
}


.colorChangeMode{
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.selectColorMode{
    display: flex;
    justify-content: center;
    align-items: center;
}
.selectColorMode input{
    margin-left: 0.7rem;
}
.selectColorMode label{
    display: inline-block;
}
.colorInputAndCode{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hexInputOutput{
    width: 45%;
    position: relative;
}
.hexInputOutput > span {
    position: absolute;
    bottom: 1.7%;
    left: 0%;
    background-color: #dddeee;
    padding: 5px .5rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.hexInputOutput input {
    width: 100%;
    margin-top: 0.4rem;
    padding: 0.4rem 1.8rem;
    border: 1px solid #dddeee;
    border-radius: 5px;
}
.RGBinputOutput{
    width: 45%;
}
.RGBinputOutput input{
    width: 100%;
    margin-top: 0.4rem;
    padding: 0.4rem 1rem;
    border: 1px solid #dddeee;
    border-radius: 5px;

}

/* RGB color adjusting slider  */
.adjustRGBcolor{
    margin-top: 2rem;
}
.RGBcolorAdjusting{
    margin-top: 1rem;
    display: flex;
    justify-content:space-between;
}
.colorRange{
    margin: 0.4rem 0;
    display: flex;
    justify-content: space-between;
}






/* 
.toastMessage{
    position: fixed;
    top: 10%;
    right: 10%;
    padding: .4rem 1rem;
    border: 2px solid rgb(132, 197, 204);
    border-radius: 5px;
    background-color: rgb(61, 239, 61);
    cursor: default;
}
.toastMessage-slide-in{
    animation: toastMessage-animation-in 0.5s ease;
}
@keyframes toastMessage-animation-in{
    from{
        transform: translateX(300px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}
.toastMessage-slide-out{
    animation: toastMessage-animation-out 0.5s ease;
}
@keyframes toastMessage-animation-out{
    from{
        transform: translateX(0);
        opacity: 1;
    }
    to{
        transform: translateX(300px);
        opacity: 0;
    }
} */
